html, body {
  background-color: #f6f6f6;
  font-family: arial,sans-serif;
}

.danshed-line {
  margin-bottom: 22.5px;
  background-image: linear-gradient(
    to right,
    #ccc 0%,
    #ccc 50%,
    transparent 50%
  );
  background-size: 4px 1px; /* no */
  background-repeat: repeat-x;
  height: 1px; /* no */
}

.container {
  margin: 100px auto 0 auto;
  width: 600px;
}

.cur-id {
  text-align: center;
  font-size: 32px;
  color: #41aaa8;
  margin-bottom: 50px;
}

input {
  border: 1px solid #41aaa8;
  padding: 10px;
  flex: 1;
  border-right: none;
  color: #41aaa8;
}

input::-webkit-input-placeholder {
  color: #dcdcdc;
}


button {
  padding: 0 40px;
  border: 1px solid #41aaa8;
  border-left: none;
  background-color: #41aaa8;
  color: #fff;
}

.btn-viewscreen {
  margin-right: 5px;
}


.ctrl-remote {
  display: flex;
}

.video-container {
  height: 400px;
  /* background-color: #fff; */
  margin-top: 20px;
  display: flex;
}

.remote-video {
  width: 450px;
  height: 100%;
}

.self-video {
  width: 150px;
  height: 150px;
}